@font-face {
  font-family: 'Roddenberry';

  src: url(./static/Roddenberry-DgLm.ttf);
  /* src: url(./static/FederationClassic.TTF); */
}

@font-face {
  font-family: 'Gunmetal';
  font-style: normal;
  font-weight: 600;
  src: url(./static/GunmetalRegular-eeAx.ttf);
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  background: #1b1b1f;
  color: #d2d7d1;
  text-shadow: 0 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000, -1px 0 0 #000;
}

/* WebGL canvas */

canvas#webgl {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: 1;
}

/* body,
html {
  width: 100%;
  height: 100%;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  color: #d2d7d1;
}

.container {
  height: 10vh;
  /* background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.2)
  ); */
  z-index: 2;
}

//////////////////// Navigation //////////////////

.nav--logo {
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav--logo h4 {
  font-family: 'Roddenberry', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 16px;
  display: inline-block;
  vertical-align: top;
  /* margin: 20px 0 0 48px; */
  transition: color 0.25s ease-out 0.5s;
}

.nav--logo h3,
.below {
  font-family: 'Roddenberry', Helvetica, Arial, sans-serif;
}

.content--count,
.content--subCopy p {
  flex: 0 0 50%;
  font-family: 'Roddenberry', Helvetica, Arial, sans-serif;
  font-size: 26px;
}

.content--count {
  font-weight: 500;
  line-height: 16px;
}

.content--count span:nth-of-type(2) {
  width: 40px;
  height: 1px;
  display: inline-block;
  margin: 0 16px;
  vertical-align: middle;
  opacity: 0.2;
}

.content--count,
.content--subCopy p {
  font-family: 'Roddenberry', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.content--subCopy p {
  font-weight: 400;
  line-height: 24px;
}

.nav--navMenu {
  /* padding: 22px 0 20px; */
  height: 100%;
  cursor: pointer;
  transform: translateZ(0);
  opacity: 1;
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0.5s,
    opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.main--contentWrapper {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1) 0.66s,
    visibility 0s linear 0s;
  z-index: 2;
  position: absolute;
  /* pointer-events: none; */
  /* padding: 1rem; */
  scroll-behavior: unset;
}

.main--contentWrapper.no-pointer-events {
  pointer-events: none;
}

.content--page {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: 200;
  color: #d2d7d1;
  transition: color 0.25s ease-out;
}

.content--fixedPageContent {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* opacity: 0; */
  /* visibility: hidden; */
}

.content--gridContainer {
  width: 84.44444%;
  max-width: 1216px;
  /* margin: 0 auto; */
  position: relative;
  height: 100%;
}

.content--contentWrapper {
  position: absolute;
  padding: 0.5rem;
  top: 35%;
  left: 0;
  right: 0;
  width: 15%;
  /* height: 100%; */
  /* background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.2)
  ); */
}

.content--contentWrapper h1 {
  /* color: #d2d7d1; */
  /* color: teal; */
  text-shadow: 0 4px 0 #000, 4px 0 0 #000, 0 -4px 0 #000, -4px 0 0 #000;
  font-family: 'Gunmetal', Helvetica, Arial, sans-serif;
  font-size: 88px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -3px;
  font-size: calc(70px + 60 * (100vw - 1024px) / 416);
  line-height: calc(64px + 46 * (100vw - 1024px) / 416);
  margin-left: 0.5rem;
}

.content--subCopy {
  margin: 1rem 0.5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.content--count,
.content--subCopy p {
  color: #d2d7d1;
  flex: 0 0 50%;
  font-family: 'Roddenberry', Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 1rem;
}

.nav--navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  opacity: 1;
  visibility: visible;
  transform: translate(0);
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1) 0.5s,
    transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0.5s, visibility 0s linear 0s;

  /* background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.2)
  ); */
}

.nav--gridContainer {
  display: flex;
  justify-content: space-between;
  /* width: 84.44444%; */
  max-width: 1216px;
  /* margin: 0 auto; */
  padding: 1rem;
}

@media screen and (max-width: 1024px) {
  .nav--gridContainer {
    width: 90.625%;
  }
  .nav--logo h4 {
    /* margin: 20px 0 0 40px; */
  }
  .content--button--2FkPG,
  .content--count {
    flex: 0 0 100%;
  }
  .content--gridContainer {
    width: 90.625%;
  }
  .content--contentWrapper {
    width: 48.27586%;
  }
  .content--contentWrapper h1 {
    font-family: 'Gunmetal', Helvetica, Arial, sans-serif;
    font-size: 80px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -2px;
    font-size: calc(56px + 14 * (100vw - 768px) / 256);
    line-height: calc(48px + 16 * (100vw - 768px) / 256);
  }
  .content--subCopy {
    margin: 72px 0 0;
  }
  .content--subCopy p {
    flex: 0 0 75%;
    margin: 32px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .nav--gridContainer {
    width: 87.5%;
  }
  .nav--logo h4 {
    /* margin: 20px 0 0 32px; */
  }
  .content--button--2FkPG,
  .content--count {
    flex: 0 0 100%;
  }
  .content--gridContainer {
    width: 87.5%;
  }
  .content--contentWrapper {
    width: 52.38095%;
    top: 20%;
    /* background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.2)
    ); */
  }
  .content--contentWrapper h1 {
    font-family: 'Gunmetal', Helvetica, Arial, sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 56px;
  }
  .content--subCopy {
    margin: 64px 0 32px;
  }
  .content--subCopy p {
    flex: 0 0 80%;
  }
}

@media screen and (max-width: 500px) {
  .nav--gridContainer {
    width: 87.23404%;
    padding: 24px 0 0;
  }
  .nav--logo h4 {
    /* margin: 20px 0 0 16px; */
  }
  .content--count {
    flex: 0 0 100%;
  }
  .content--gridContainer {
    width: 87.23404%;
  }
  .content--contentWrapper {
    width: 100%;
    top: 16%;
  }
  .content--contentWrapper h1 {
    font-family: 'Gunmetal', Helvetica, Arial, sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: 48px;
  }
  .content--subCopy {
    margin: 40px 0 0;
  }
  .content--subCopy p {
    flex: 0 0 80%;
    margin: 24px 0 0;
  }
}

@media screen and (max-height: 650px) {
  .content--count {
    display: none;
  }
  .content--contentWrapper {
    /* top: 20%; */
  }
  .content--contentWrapper h1 {
    font-family: 'Gunmetal', Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -1px;
  }
  .content--subCopy {
    margin: 0;
  }
  .content--subCopy p {
    font-family: 'Roddenberry', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
  .lil-gui .controller.number input,
  .lil-gui .controller.number .fill {
    font-size: 10px;
  }
}

.hidden {
  position: absolute;
  left: -9999px;
}

.transparent {
  opacity: 0.5;
}

.label {
  /* font-family: 'Roddenberry'; */
  --baseColor: #d2d7d1;
  /* width: 230px; */
  color: var(--baseColor);
  font-family: Monospace;
  font-size: 14px;
  font-weight: bold;
  /* padding: 2px; */
  /* background: #000; */
  text-shadow: 0 0.8px 0 #000, 0.8px 0 0 #000, 0 -0.8px 0 #000, -0.8px 0 0 #000;

  /* border: 2px solid var(--baseColor); */
  /* border-radius: 5px; */
  /* margin-top: -25px; */
  /* margin-left: 120px; */
  /* overflow: hidden; */
  /* padding: 1rem; */
}

.control-group a {
  display: inline-block;
}

.below,
.lil-gui .title,
.lil-gui .controller > .name {
  font-family: 'Roddenberry';
  color: #d2d7d1;
  font-size: 16px;
}

.control-group a {
  background-color: #d2d7d1;
  border-bottom: 1px solid #000;
}

.control-group a:hover {
  background-color: #000;
}

.side-pannel--left {
  left: 15px;
}

.lil-gui .controller.number input,
.lil-gui .controller.number .fill {
  color: #d2d7d1;
}
