@font-face {
  font-family: 'Baskerville Normal';
  src: url(./static/ZaiStopClimateChange-Wy4aG.ttf);
}

@font-face {
  font-family: 'Baskerville Bold';
  src: url(./static/ZaiStopClimateChange-Wy4aG.ttf);
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  background: hsl(1, 65%, 74%);
  color: rgb(27, 27, 31);
  max-width: 1216px;
  font-family: 'Baskerville Normal';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Baskerville Bold', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  padding: 0;
  /* text-shadow: 0 2px 0 #fff, 2px 0 0 #fff, 0 -2px 0 #fff, -2px 0 0 #fff; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.file-input {
  z-index: 2000;
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: 'Baskerville Normal', Helvetica, Arial, sans-serif;
}

.file-label {
  font-size: 14px;
  font-family: 'Baskerville Normal', Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Baskerville Normal', Helvetica, Arial, sans-serif;
}

.chart-group text {
  font-family: 'Baskerville Normal', Helvetica, Arial, sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.chart {
  width: 100%;
  /* max-width: 1200px; */
  font: 12px sans-serif;
  z-index: 2000;
  position: absolute;
  padding: 1rem;
  left: 50px;
  bottom: 10px;
  top: 50px;
  right: 0;
}

.point-at {
  cursor: pointer;
}

svg.chart-group {
  width: 100%;
  height: 100%;
  display: inline-block;
  min-width: 340px;
  min-height: 500px;
}

.area-path {
  stroke: none;
  fill: #d0dee7;
}

.line-chart-x path,
.line-chart-y path {
  fill: none;
  stroke: grey;
  stroke-width: 1;
}

.line_active {
  stroke: var(--main-active);
  fill: none;
  stroke-width: 1;
  shape-rendering: geometricPrecision;
}

circle {
  stroke-width: 0.7;
}

.dot_active {
  fill: var(--main-active);
  stroke: #3fb1ce;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle,
.focus-marker {
  fill: #f1f3f3;
  stroke: #777;
  stroke-width: 3px;
}

.hover-line {
  stroke: #777;
  stroke-width: 2px;
  stroke-dasharray: 3, 3;
}

.side-pannel-left,
.side-pannel-right {
  z-index: 100;
  font-size: 12px;
  pointer-events: none;
}

.side-pannel-left {
  position: absolute;
  left: 10px;
  z-index: 3000;
  /* top: 80px; */
}

.side-pannel-right {
  position: absolute;
  right: 10px;
  top: 0;
}

.control {
  margin-right: 10px;
  margin-top: 10px;
  cursor: auto;
  float: left;
  clear: both;
  position: relative;
  z-index: 800;
  pointer-events: visiblePainted;
  pointer-events: auto;
}

.control a {
  text-decoration: none;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  height: 36px;
  width: 36px;
  line-height: 36px;
  background-size: contain;
  cursor: pointer;
}

.control a:hover {
  background-color: #f4f4f4;
}

.control-group a {
  background-color: #cccccc;
  border-bottom: 1px solid #ccc;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}
.control-group a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.control-group a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.case-select {
  z-index: 100;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: block;
  position: absolute;
  top: 50px;
  left: 10px;
  /* width: 100px; */
  height: 30px;
  font-family: 'Baskerville Normal', Helvetica, Arial, sans-serif;
  padding: 0.2rem;
}

.hide {
  position: absolute;
  left: -9999px;
}

/* Smaller devices */
@media (max-width: 360px) {
  .side-pannel-left {
    top: 0;
    left: 5px;
  }

  .side-pannel-right {
    top: 0;
    right: 0;
  }
}

@media screen and (max-width: 500px) {
  .chart {
    bottom: 50px;

    /* background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.01)
    ); */
  }

  text {
    font-size: 6px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 550px) {
  .control a {
    width: 50px;
    line-height: 50px;
  }
}

/* .mapboxgl-popup-content,
.maplibregl-popup-content {
  background: none;
  box-shadow: none;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
  border-top-color: #3fb1ce;
  border-top-style: ridge;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
.maplibregl-popup-anchor-left .maplibregl-popup-tip {
  border-right-color: #3fb1ce;
  border-right-style: ridge;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
.maplibregl-popup-anchor-right .maplibregl-popup-tip {
  border-left-color: #3fb1ce;
  border-left-style: ridge;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.maplibregl-popup-anchor-top .maplibregl-popup-tip {
  border-bottom-color: #3fb1ce;
  border-bottom-style: ridge;
}
*/

.mapboxgl-popup-content,
.maplibregl-popup-content {
  padding: 10px 10px 5px;
  font-family: 'Baskerville Normal', Helvetica, Arial, sans-serif;
}

.popup {
  -webkit-animation: pulsate 5s ease-out;
}
@-webkit-keyframes pulsate {
  0% {
    scale: 3;
    opacity: 0;
    bottom: 10px;
  }
  50% {
    opacity: 2;
    bottom: 10px;
  }
  100% {
    scale: 1;
    opacity: 1;
    bottom: 10px;
  }
}

.popup {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.popup:hover {
  border-radius: 0%;
}
.maplibregl-popup-content:hover {
  scale: 3;
}

//////////////////// Navigation //////////////////

.nav--logo {
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav--logo h4 {
  font-family: 'Baskerville Bold', Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 16px;
  display: inline-block;
  vertical-align: top;
  margin: 0 2rem;
  transition: color 0.25s ease-out 0.5s;
}

.content--count,
.content--subCopy p {
  flex: 0 0 50%;
  font-family: 'Baskerville Normal', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.content--count {
  font-weight: 500;
  line-height: 16px;
}

.content--count span:nth-of-type(2) {
  width: 40px;
  height: 1px;
  display: inline-block;
  margin: 0 16px;
  vertical-align: middle;
  opacity: 0.2;
}

.content--count,
.content--subCopy p {
  font-family: 'Baskerville Normal', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.content--subCopy p {
  font-weight: 400;
  line-height: 24px;
}

.nav--navMenu {
  /* padding: 22px 0 20px; */
  height: 100%;
  cursor: pointer;
  transform: translateZ(0);
  opacity: 1;
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0.5s,
    opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.nav--navMenu h3 {
  font-size: 20px;
}

.main--contentWrapper {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1) 0.66s,
    visibility 0s linear 0s;
  z-index: 2000;
  position: relative;
  /* pointer-events: none; */
}

.main--contentWrapper.no-pointer-events {
  pointer-events: none;
}

.content--page {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: 200;
  color: #3a3a40;
  transition: color 0.25s ease-out;
}

.content--fixedPageContent {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.content--gridContainer {
  width: 84.44444%;
  max-width: 1216px;
  /* margin: 0 auto; */
  position: relative;
  height: 100%;
}

.content--contentWrapper {
  position: absolute;
  /* padding: 1rem; */
  /* top: 7%; */
  left: 2%;
  right: 0;
  /* width: 40%; */
}
.content--contentWrapper h1 {
  font-family: 'Baskerville Bold', Helvetica, Arial, sans-serif;
  font-size: 88px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -3px;
  font-size: calc(40px + 1 * (100vw - 1024px) / 416);
  line-height: calc(64px + 30 * (100vw - 1024px) / 416);
}

.content--subCopy {
  margin: 1rem;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  /* padding: 1rem; */
  /* background-image: linear-gradient( to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) ); */
  position: fixed;
  /* bottom: 0; */
  left: 0;
}

.content--count,
.content--subCopy p {
  flex: 0 0 50%;
  font-family: 'Baskerville Normal', Helvetica, Arial, sans-serif;
  font-size: 22px;
  margin: 0 0.5rem;
}

.content--count {
  margin: 0 2rem;
}

.nav--navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  opacity: 1;
  visibility: visible;
  transform: translate(0);
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1) 0.5s,
    transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0.5s, visibility 0s linear 0s;

  /* background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.2)
  ); */
}

.nav--gridContainer {
  display: flex;
  justify-content: flex-end;
  /* width: 84.44444%; */
  /* max-width: 1216px; */
  margin: 0 auto;
  margin: 0 1.2rem;
  padding: 1rem 0 0;
  /* padding: 48px 0 0; */
}

@media screen and (max-width: 1024px) {
  .nav--gridContainer {
    width: 90.625%;
  }
  .nav--logo h5 {
    /* margin: 20px 0 0 40px; */
  }
  .content--button--2FkPG,
  .content--count {
    flex: 0 0 100%;
  }
  .content--gridContainer {
    width: 90.625%;
  }
  .content--contentWrapper {
    width: 48.27586%;
  }
  .content--contentWrapper h1 {
    font-family: 'Baskerville Bold', Helvetica, Arial, sans-serif;
    font-size: 80px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -2px;
    font-size: calc(56px + 14 * (100vw - 768px) / 256);
    line-height: calc(48px + 16 * (100vw - 768px) / 256);
  }
  .content--subCopy {
    margin: 72px 0 0;
  }
  .content--subCopy p {
    flex: 0 0 75%;
    margin: 32px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .nav--gridContainer {
    width: 87.5%;
  }
  .nav--logo h5 {
    /* margin: 20px 0 0 32px; */
  }
  .content--button--2FkPG,
  .content--count {
    flex: 0 0 100%;
  }
  .content--gridContainer {
    width: 87.5%;
  }
  .content--contentWrapper {
    width: 52.38095%;
    top: 20%;
    /* background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.2)
    ); */
  }
  .content--contentWrapper h1 {
    font-family: 'Baskerville Bold', Helvetica, Arial, sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 56px;
  }
  .content--subCopy {
    margin: 64px 0 32px;
  }
  .content--subCopy p {
    flex: 0 0 80%;
  }
}

@media screen and (max-width: 500px) {
  .nav--gridContainer {
    width: 87.23404%;
    padding: 24px 0 0;
  }
  .nav--logo h5 {
    /* margin: 20px 0 0 16px; */
  }
  .content--count {
    flex: 0 0 100%;
  }
  .content--gridContainer {
    width: 87.23404%;
  }
  .content--contentWrapper {
    width: 100%;
    top: 16%;
  }
  .content--contentWrapper h1 {
    font-family: 'Baskerville Bold', Helvetica, Arial, sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: 48px;
  }
  .content--subCopy {
    margin: 40px 0 0;
  }
  .content--subCopy p {
    flex: 0 0 80%;
    margin: 24px 0 0;
  }
  .content--subCopy {
    margin: 80px 0 0;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    /* padding: 1rem; */
    /* background-image: linear-gradient( to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) ); */
    position: fixed;
    bottom: 200px;
    /* left: 0; */
  }

  .chart {
    width: 100%;
    /* max-width: 1200px; */
    font: 12px sans-serif;
    z-index: 2000;
    position: absolute;
    padding: 1rem;
    left: 0;
    bottom: 0;
    top: 200px;
  }
}

@media screen and (max-height: 650px) {
  .content--count {
    display: none;
  }
  .content--contentWrapper {
    /* top: 20%; */
  }
  .content--contentWrapper h1 {
    font-family: 'Baskerville Bold', Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -1px;
  }
  .content--subCopy {
    margin: 0;
  }
  .content--subCopy p {
    font-family: 'Baskerville Normal', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
}

.hidden {
  position: absolute;
  left: -9999px;
}

.transparent {
  opacity: 0.5;
}

body {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
}

.below {
  /* background-image: linear-gradient( to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2) ); */
  bottom: 0;
  color: initial;
  /* padding: 1rem; */
  font-size: 12px;
}

button {
  margin-top: initial;
}

.mapboxgl-ctrl-top-right,
.maplibregl-ctrl-top-right {
  right: 13px;
  top: 35px;
}

.tooltip {
  z-index: 5000;
  /* background: white; */
  /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15); */
  /* margin-bottom: 2rem; */
  font-size: 0.6em;
  font-family: 'EB Garamond', serif;
  /* max-width: 500px; */
  /* padding: 2rem; */
  position: absolute;
  /* border-radius: 3px; */
  display: flex;
  animation: slideIn forwards 0.1s ease-in-out 2;
  animation-timing-function: cubic-bezier(0.01, 1.68, 0.58, 1);
  padding: 6px;
}
.tooltip + .tooltip {
  animation-delay: 0.55s;
  .tooltip + .tooltip {
    animation-delay: 0.6s;
  }
}
.tooltip__text {
  padding-right: 5px;
  flex: 1;
}
.tooltip__remove {
  background: none;
  border: 0;
  &:hover {
    color: $yellow;
  }
}
.tooltip::after {
  /* z-index: 5000; */
  content: '';
  display: block;
  /* background: white; */
  position: absolute;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  top: 8px;
  left: 8px;
  z-index: -1;
  /* box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1); */
  /* border-radius: 3px; */
}
.tooltip p {
  margin: 0;
}
